<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <input  id="foto" type="file" name="foto" accept="image/*" capture="camera" class="foto"/>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Marca</ion-label>
    <ion-input placeholder="Ducati / Yamaha / Honda" [(ngModel)]="marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Modelo</ion-label>
    <ion-input placeholder="Modelo" [(ngModel)]="modelo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Año</ion-label>
    <ion-input placeholder="2002" [(ngModel)]="year"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Precio</ion-label>
    <ion-input placeholder="10000" [(ngModel)]="precio"></ion-input>
  </ion-item>

  <ion-button (click)="addMoto()" color="primary" expand="block">
    Guardar
  </ion-button>
</ion-content>
