<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de la Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img [src]="moto.foto"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{moto.marca}}</ion-card-subtitle>
      <ion-card-title>{{moto.modelo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mantente cerca del corazón de la naturaleza ... y aléjate, de vez en cuando, y escala una montaña o pasa una semana en el 
      bosque. Lava tu espíritu limpio. 
    </ion-card-content>

    <ion-button (click)="borrar()" color="warning" size="small">
      BORRAR MOTO
    </ion-button>

  </ion-card>

</ion-content>