<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-router-outlet id="main"></ion-router-outlet>
    <ion-title>Mis Motos</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let moto of motos" (click)="detalle(moto)">
      <ion-avatar slot="start">
        <ion-img [src]="moto.foto"></ion-img>
      </ion-avatar>
      <ion-label>{{moto.modelo}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab class="buttonAdd" horizontal="end" vertical="bottom" slot="fixed" (click)="add()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-menu side="start" menuId="first" contentId="main"  class="filtrar">
    <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Filtrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-menu-toggle auto-hide="true">
      <ion-list *ngFor="let sitio of sitios">
        <ion-item (click)="filtrarM(sitio.title)">
          <ion-img [src]="sitio.foto" class="marcas"></ion-img>
          <ion-label>{{sitio.title}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
  </ion-menu>
</ion-content>